{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-between align-items-center mb-5 p-4">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="position-relative exloi">
                        <div class="position-relative pe-4 pb-4">
                            <img
                                style="height: 650px; width: 100%"
                                src="https://img.freepik.com/free-photo/people-working-together-animation-studio_23-2149208028.jpg?t=st=1714501626~exp=1714505226~hmac=1c0146f69cf270781c5aea73a26fc255d8b284e2c27604a9367e75a4f578c369&w=740"
                                class="img-fluid rounded-4 object-fit-cover"
                                alt=""
                            />
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="position-relative exloi py-lg-0 py-4">
                        <div class="exloi-caption">
                            <div class="text-success d-inline-flex rounded-4 mb-2 fw-bold"><span>درباره ما</span></div>
                            <h2 class="fw-bold mb-3 fs-1">ما که هستیم و ماموریت ما</h2>
                            <p class="mb-0 fs-5 fw-light mb-3">
                                <b>لورم ایپسوم</b> متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            </p>
                            <p class="mb-0 fs-5 fw-light">
                                <i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</i>
                            </p>
                            <div class="mt-4">
                                <a href="#" class="btn btn-primary btn-lg fw-bold rounded">تیم ما را ملاقات کنید <i class="fas fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
