{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card p-4">
                <div class="card-body text-end">
                    <h1 class="fw-bold mt-4">سیاست حفظ حریم خصوصی</h1>
                    <p>آخرین به‌روزرسانی: <span id="currentDate"></span></p>
                    <p>به سیستم مدیریت سلامت خوش آمدید! این سیاست حفظ حریم خصوصی نحوه جمع‌آوری، استفاده و محافظت از اطلاعات شخصی شما را هنگام استفاده از وب‌سایت سیستم مدیریت سلامت، واقع در www.healthmanagement.com، توضیح می‌دهد.</p>

                    <h2 class="mt-4">1. اطلاعاتی که جمع‌آوری می‌کنیم</h2>
                    <p>ما ممکن است اطلاعات شخصی شما را که شامل نام، آدرس ایمیل، شماره تلفن و سایر اطلاعات مشابه است، جمع‌آوری کنیم.</p>

                    <h2 class="mt-4">2. استفاده از اطلاعات</h2>
                    <p>ما از اطلاعات جمع‌آوری شده برای ارائه خدمات بهتر به شما، بهبود وب‌سایت و ارسال اطلاعات مهم به شما استفاده می‌کنیم.</p>

                    <h2 class="mt-4">3. حفاظت از اطلاعات</h2>
                    <p>ما از اقدامات امنیتی مناسب برای حفاظت از اطلاعات شخصی شما در برابر دسترسی غیرمجاز، تغییر، افشا یا تخریب استفاده می‌کنیم.</p>

                    <h2 class="mt-4">4. اشتراک‌گذاری اطلاعات</h2>
                    <p>ما اطلاعات شخصی شما را با هیچ شخص ثالثی به اشتراک نمی‌گذاریم، مگر در مواردی که قانوناً موظف به انجام این کار باشیم.</p>

                    <h2 class="mt-4">5. کوکی‌ها</h2>
                    <p>ما از کوکی‌ها برای بهبود تجربه کاربری شما در وب‌سایت استفاده می‌کنیم. با استفاده از وب‌سایت ما، شما موافقت می‌کنید که از کوکی‌ها مطابق با سیاست حفظ حریم خصوصی ما استفاده کنید.</p>

                    <h2 class="mt-4">6. حقوق شما</h2>
                    <p>شما حق دارید به اطلاعات شخصی خود دسترسی داشته باشید، آن‌ها را تصحیح کنید یا درخواست حذف آن‌ها را بدهید. برای این کار می‌توانید با ما تماس بگیرید.</p>

                    <h2 class="mt-4">7. تغییرات در سیاست حفظ حریم خصوصی</h2>
                    <p>ما ممکن است این سیاست حفظ حریم خصوصی را به‌روزرسانی کنیم. هرگونه تغییر در این سیاست در این صفحه منتشر خواهد شد.</p>

                    <h2 class="mt-4">8. تماس با ما</h2>
                    <p>اگر سوال یا نگرانی‌ای در مورد سیاست حفظ حریم خصوصی ما دارید، لطفاً با ما تماس بگیرید.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // تنظیم تاریخ فعلی
    document.getElementById("currentDate").textContent = new Date().toLocaleDateString();
</script>

{% endblock content %}